@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/open-sans-bold.ttf) format("truetype");
  /* все современные браузеры */
}
ul,
a,
p,
body {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #101114;
}
.payments {
  display: flex;
  justify-content: flex-end;
  max-width: 970px;
  min-width: 320px;
}
.payments_centered {
  margin: 80px auto;
}
@media screen and (max-width: 1000px) {
  .payments {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 720px) {
  .payments {
    margin: 10px;
  }
}
.requisites {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  width: 640px;
  min-height: 568px;
  padding: 45px 29px 0 29px;
}
@media screen and (max-width: 1000px) {
  .requisites {
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .requisites {
    width: 100%;
  }
}
.requisites__info {
  display: flex;
  flex-direction: column;
  font: 16px Arial, sans-serif;
  color: #8494ab;
}
.requisites__info-element {
  display: flex;
  width: 49%;
  justify-content: space-between;
}
.requisites__info-title {
  margin-bottom: 21px;
}
.requisites__info-number {
  margin-bottom: 9px;
}
.requisites__info-data {
  min-width: 125px;
  color: #373c43;
}
.requisites__card {
  margin-top: 5px;
}
.requisites__card-title {
  font: 22px OpenSansBold, sans-serif;
}
.requisites__card-form {
  position: relative;
  height: 350px;
  color: #8494ab;
}
.requisites__card-form-side {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 234px;
  border: 1px solid #e4e9ee;
  border-radius: 10px;
  background-color: #f7f8f8;
  padding-left: 15px;
}
.requisites__card-form-side-first {
  z-index: 15;
  position: relative;
}
.requisites__card-form-side-first-number {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin-top: 5px;
  height: 42px;
}
.requisites__card-form-side-first-number-input {
  box-sizing: border-box;
  padding: 0 5px;
  width: 22.8%;
  border: 1px solid #e4e9ee;
  font: 20px Arial, sans-serif;
}
.requisites__card-form-side-first-validity {
  margin-top: 5px;
  height: 42px;
  display: flex;
}
.requisites__card-form-side-first-validity-input {
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid #e4e9ee;
  font: 20px Arial, sans-serif;
}
.requisites__card-form-side-first-validity-month {
  width: 70px;
  margin-right: 9px;
}
.requisites__card-form-side-first-validity-year {
  width: 86px;
}
.requisites__card-form-side-first-owner {
  margin-top: 12px;
  height: 38px;
  width: 95%;
  border: 1px solid #e4e9ee;
}
.requisites__card-form-side-title {
  font: 16px Arial, sans-serif;
  color: #8494ab;
  background-color: #f7f8f8;
  margin-top: 21px;
}
.requisites__card-form-side-title_position {
  margin-top: 15px;
}
.requisites__card-form-side-second {
  z-index: 10;
  position: absolute;
  padding: 0;
  top: 19px;
  right: 17px;
}
.requisites__card-form-side-second-line {
  width: 100%;
  height: 42px;
  margin-top: 25px;
  background-color: #e4e9ee;
}
.menu {
  font: 18px OpenSansBold, sans-serif;
  font-weight: bold;
  width: 320px;
  height: 375px;
}
@media screen and (max-width: 1000px) {
  .menu {
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .menu {
    width: 100%;
  }
}
.menu__list {
  height: 100%;
}
.menu__list-item {
  height: 20%;
}
.menu__list-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 28px;
  padding-bottom: 2px;
  color: #fff;
  background-color: #191c24;
  border-top: 1px solid #20232b;
}
@media screen and (max-width: 1000px) {
  .menu__list-link {
    padding: 0;
    justify-content: center;
  }
}
.menu__list-link_active {
  color: #808592;
}
.menu__list-link_active {
  background-color: #2a2d37;
}
.menu__list-link_active:after {
  content: " (активная)";
  white-space: pre;
}
.menu__list-item:last-child .menu__list-link {
  color: #808592;
}
