@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/open-sans-bold.ttf) format("truetype"); /* все современные браузеры */
}

ul, a, body{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #101114;
}

//Главный блок страницы
.payments {
  display: flex;
  justify-content: flex-end;
  max-width: 970px;
  min-width: 320px;
  margin: 80px auto;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 720px) {
    margin: 10px;
  }
  //Блок с реквизитами карты
  &-requisites {
    background-color: #fff;
    width: 640px;
    min-height: 570px;
    @media screen and (max-width: 1000px) {
      width: 90%;
    }
    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }
}

//Меню навигации
.menu {
  font: 18px OpenSansBold, sans-serif;
  font-weight: bold;
  width: 320px;
  height: 375px;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  //Список
  &__list {
    height: 100%;
    //Элемент списка
    &-item {
      height: 20%;
    }
    //Ссылка списка
    &-link {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 28px;
      color: #fff;
      background-color: #191c24;
      border-top: 1px solid #20232b;
      @media screen and (max-width: 1000px) {
        justify-content: center;
      }
      //Активная ссылка списка
      &_active {
        color: #808592;
      }
      &_active {
        background-color: #2a2d37;
        &:after {
          content: " (активная)";
          white-space: pre;
        }
      }
    }
  }
}
//Цвет кнопки "выход"
.menu__list-item:last-child .menu__list-link {
  color: #808592;
}